[project]
	description = A unix program for leaving yourself messages in directories
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Jones (AlexsJones)
[access "refs/for/refs/*"]
	read = group user/Alex Jones (AlexsJones)
	push = group user/Alex Jones (AlexsJones)
	label-Code-Review = -2..+2 group user/Alex Jones (AlexsJones)
	label-Verified = -1..+1 group user/Alex Jones (AlexsJones)
	rebase = group user/Alex Jones (AlexsJones)
	removeReviewer = group user/Alex Jones (AlexsJones)
	submit = group user/Alex Jones (AlexsJones)
[access "refs/heads/*"]
	read = group user/Alex Jones (AlexsJones)
	create = group user/Alex Jones (AlexsJones)
	push = +force group user/Alex Jones (AlexsJones)
	pushMerge = group user/Alex Jones (AlexsJones)
[access "refs/tags/*"]
	push = +force group user/Alex Jones (AlexsJones)
	pushTag = group user/Alex Jones (AlexsJones)
	pushSignedTag = group user/Alex Jones (AlexsJones)
